<div class="footer">
    <div class="info">
        <div class="urso">
            <h1>BEAR</h1>
            <img src="../../../assets/image/urso branco.png" alt="urso branco">
        </div>
        <div class="horario">
            <h1>Horário de Funcionamento</h1>
            <h2>Quinta-feira a partir das 18h</h2>
            <h2>Sexta-feira a partir das 18h</h2>
            <h2>Sábado a partir das 18h</h2>
            <h2>Domingo a partir das 20h</h2>
        </div>
        <div class="contato">
            <h1>Contato</h1>
            <h2>Telefone: 11 94002-8922</h2>
            <h2>Email: reservas@bearbar.com</h2>
            <h2>Rua P. Sherman, 42 - Pinheiros CEP: 00000-000 - São Paulo</h2>
            <h2>Domingo a partir das 20h</h2>
        </div>
    </div>
    <div class="copy">
        <h1><mat-icon>copyright</mat-icon>BEAR - Todos os direitos reservados.</h1>
    </div>
</div>