<header class="cabecalho">
    <figure class="logo__contain"><img src="./assets/image//svg/logo-menu.svg" alt="" class="logo__image" routerLink="/"/></figure>

    <nav class="cabecalho__nav">
        <ul class="nav_lista">
            <li class="nav__item"><a routerLink="/" class="nav__hiperlink">inicío</a></li>
            <li class="nav__item"><a routerLink="/cardapio" class="nav__hiperlink">cardápio</a></li>
            <li class="nav__item"><a routerLink="/login" class="nav__hiperlink">login</a></li>
        </ul>
    </nav>

</header>