<!-- <link rel="stylesheet" href="../../assets/css/reset.css">
<link rel="stylesheet" href="../../assets/css/base.css">
<link rel="stylesheet" href="../../assets/css/body/body.css">
<link rel="stylesheet" href="../../assets/css/cabecalho/cabecalho.css">
<link rel="stylesheet" href="../../assets/css/cabecalho/cabecalho-nav.css">
<link rel="stylesheet" href="../../assets/css/logo/logo-contain.css">
<link rel="stylesheet" href="../../assets/css/logo/logo-image.css">
<link rel="stylesheet" href="../../assets/css/nav/nav-lista.css">
<link rel="stylesheet" href="../../assets/css/nav/nav-item.css">
<link rel="stylesheet" href="../../assets/css/nav/nav-hiperlink.css"> -->

<header class="cabecalho">
    <figure class="logo__contain"><img src="./assets/image//svg/logo-menu.svg" alt="" class="logo__image"/></figure>

    <nav class="cabecalho__nav">
        <ul class="nav_lista">
            <li class="nav__item"><a href="#" class="nav__hiperlink">inicío</a></li>
            <li class="nav__item"><a href="#" class="nav__hiperlink">cardápio</a></li>
            <li class="nav__item"><a href="#" class="nav__hiperlink">contato</a></li>
        </ul>
    </nav>

</header>