<div class="Landing">
    <div class="logo-meio">
        <h1 class="logo-meio-texto">BEAR</h1>
        <img class="logo-meio-logo" src="../../../assets/image/svg/logo-menu.svg">
    </div>

    <div class="slogan">
        <p class="slogan1">PARA CADA DESEJO, UM BAR.</p>
        <p class="slogan2">PARA TODOS, BEAR.</p>
    </div>

    <div class="botoes">
        <a href="/cardapio"><button>CARDAPIO</button></a>
        <button (click)="scrollToBottom()">CONTATO</button>
    </div>

</div>
<app-cardapio-home></app-cardapio-home>
<app-footer></app-footer>
<!-- ../../../assets/image/svg/logo-menu.svg -->