<div class="Cadastro">
    <div class="header">
        <h1>Cadastro de Produtos</h1>
        <img src="../../../assets/image/urso preto.png">
    </div>
    <form action="">
        <div class="inputs">
            <input type="text" name="nomeprod" id="nomeprod" placeholder="Nome do produto: ">
            <input type="text" name="precoprod" id="precoprod" placeholder="Preço: ">
            <input type="text" placeholder="Tipo: ">
        </div>
        <input type="submit" value="Registrar">
    </form>
</div>