.cardapio{
    background-color: #131313;
    width: 100vw;
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}


.tabela-div{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
}

.tabela-div > table{
    background-color: #131313;
    height: 100%;
}


td{
    padding-top: 40px;
    height: 100px;
    justify-content: center;
    color: aliceblue;
    
    border-bottom: #FFC700 3px solid;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
}

th{
    padding: 20px;
    color: aliceblue;
    font-family: 'League Spartan', sans-serif;
    font-size: 2em;
}



mat-icon{
    color: aliceblue;
}

.tabela-div > mat-paginator{
    position:  fixed;
    max-height: 56px;
    bottom: 10%;
    right: 40%;
    width: 40%;
}

.botao-div{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.botao-div > button{
    height: fit-content;
    width: fit-content;
    background-color: white;
    font-size: 2em;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.add-icon{
    color: #131313;
    font-size: 2em;
    width: fit-content;
    height: fit-content;
}

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'League Spartan', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0.8em;
    width: 99vw;
}


.info{
    display: flex;
    border-bottom: aliceblue 1px solid;
}

.urso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 30px;
}
.urso >  img{
    height: 80px;
    margin-bottom: 20px;
}
.urso > h1{

    font-size: 5em;
    font-weight: 700;
}

.horario{
    font-size: 1.5em;
    margin: 30px;
}

.horario > h1{
    padding-left: 10px;
    font-size:  1.2em;
    border-left: #FFC700 4px solid;
    margin-bottom: 25px;
}

.contato{
    font-size: 1.5em;
    margin: 30px; 
}

.contato > h1{
    padding-left: 10px;
    font-size:  1.2em;
    border-left: #FFC700 4px solid;
    margin-bottom: 25px; 
}

.copy{
    padding-top: 15px;
}

.copy > h1{
    display: flex;
    align-items: center;
    font-size: 1em;
}