<div>
    <div>
        <h3>Inserir</h3>
        <input placeholder="Nome" [(ngModel)]="adm.nome"> <br>
        <input placeholder="senha" [(ngModel)]="adm.senha"> <br>
        <button (click)="criarAdm()">criar</button>
    </div>
    <br>
    <div>
        <h3>Atualizar</h3>
        <input placeholder="id" [(ngModel)]="adm2.id"> <br>
        <input placeholder="Nome" [(ngModel)]="adm2.nome"> <br>
        <input placeholder="senha" [(ngModel)]="adm2.senha"> <br>
        <button (click)="atualizarAdm()">atualizar</button>
    </div>
    <br>
    <div>
        <h3>Deletar</h3>
        <input placeholder="id" [(ngModel)]="id"> <br>
        <button (click)="removerAdm()">deletar</button>
    </div>
    <ul>
        <li *ngFor="let adm of adms">
                    <span class="botao-editar">{{adm.nome}} - {{adm.senha}} - {{adm.id}}</span>
        </li>
    </ul>
</div>

